.jumbotron
  .container
    .row
      .col-md-4
        / = @user.avatar
      .col-md-4
        %h3
          = @user.username
        %p Age: 20
        %p Gender
      .col-md-4
        %h3 Who am I
        %small Bio
